<%- include('./partials/header') %>

<nav class="active" id="nav">
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Projects</li>
        <li>Contact</li>
    </ul>
    <button class="icon" id="btn">
        <div class="line line1"></div>
        <div class="line line2"></div>
    </button>
</nav>

<%- include('./partials/footer') %>