@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #caf0f8;
    background-image: linear-gradient(to bottom, #caf0f8 0%, #caf0f8 50%, #00b4d8 50%, #00b4d8 100%);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

nav {
    width: 80px;
    border: 1px solid black;
    background-color: white;
    padding: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: width 600ms linear;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 0;
    transition: width 600ms linear;
}

nav.active ul {
    width: 100%;
}

nav ul li {
    margin-inline: 10px;
    opacity: 0;
    transform: rotateY(0deg);
    transition: transform 600ms linear, opacity 600ms linear;
}

nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
}

nav.active {
    width: 350px;
}

.icon {
    position: relative;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: #fff;
    cursor: pointer;
}

.icon .line {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #00B4D8;
    top: 10px;
    left: 5px;
    transition: transform 600ms linear;
}

.icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
}

.icon .line2 {
    top: auto;
    bottom: 10px;
    left: 5px;
    transform: rotate(765deg) translateY(-5.5px);
}

.icon {
    outline: none;
}