@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #caf0f8;
    background-image: linear-gradient(to bottom, #caf0f8 0%, #caf0f8 50%, #00b4d8 50%, #00b4d8 100%);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}